.northwest-header-main { 
    text-align: center; 
    margin-top: 20px; 
    color: #e73a3f;
    background-color: 
    antiquewhite;
    padding: 10px; 
}
.northwest-table {
    background: #d8e2ea;  
    border-radius:6px; 
    color: #697880;
    font-size: medium;
}
.northwest-table-top {
    text-align: left; 
    background-color:antiquewhite;
}

table {
    margin:10px 0px; 
    border:none !important;
}
thead {
    font-weight:700;
}
.table tbody>tr>td, .table tfoot>tr>td {
    padding: 8px; 
    line-height: 1.428571429; 
    vertical-align: top; 
    border-top:none;
}
.spacing {
    height:10px; 
    background: transparent; 
    content: none;
}

@media (max-width: 632px) {
  
    thead{
        display: none;
    }

    td, tr {
        display: block;
    }
    .stats td:nth-of-type(1):before {content: "Name: ";}
    .stats td:nth-of-type(2):before {content: "Email: ";}
    .stats td:nth-of-type(3):before {content: "Company Name: ";}
    .stats td:nth-of-type(4):before {content: "Website: ";}
    .spacing td:before {
        content:" "!important;
    }
}