<h2 class="northwest-header-main">Northwestern Mutual Assignment</h2><br>
<div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
  <table class="table stats caps table-striped">
    <thead>
      <tr style="text-align: left;">
          <td>Name</td>
          <td>Email</td>
          <td>Company Name</td>
          <td>Website</td>
      </tr>
    </thead>
      <tbody>
          <tr class="northwest-table" *ngFor="let user of users"><!--Adjust bg and font colors inline-->
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.company.name}}</td>
              <td>{{user.website}}</td><br>
          </tr> 
      </tbody>
  </table>
</div>